
body {
  width: 100%;
  height: auto;
  /* background: linear-gradient(166deg, rgba(6, 18, 87, 1) 0%, rgba(73, 63, 122, 1) 0%, rgba(6, 18, 87, 1) 72%, rgba(40, 6, 87, 1) 100%); */
  /* background: linear-gradient(180deg, rgba(6,18,87,1) 0%, rgba(87,6,6,1) 0%, rgba(122,105,63,1) 21%, rgba(106,116,56,1) 35%, rgba(50,112,55,1) 48%, rgba(44,107,101,1) 63%, rgba(30,41,99,1) 81%, rgba(44,6,87,1) 100%); */
  margin: 0%;
  background: linear-gradient(180deg, rgba(0, 2, 28, 100%) 40%, rgba(4, 20, 44, 100%) 70%, rgba(26, 54, 76, 100%) 100%);
  /* background-color: #00021C; */
  /* animation: bg-color 30s infinite linear alternate; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h3 {
  margin: 2px;
  font-size: 16px;
}

h1 {
  margin: 8px;
  font-size: 56px;
  text-shadow: 3px 3px 2px hsl(0, 0%, 10%, 40%);
  color: rgba(0, 2, 28, 100%);
  letter-spacing: 6px;
}

p {
  text-indent: 16px;
  font-size: 12px;
  margin: 2px;
  word-break: break-all;
}

.head {
  width: 100%;
  height: 48px;
  background: rgb(24, 24, 24, 60%);
  margin: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head-button {
  height: 100%;
  width: 8%;
  display: flex;
  color: hsl(0, 0%, 100%, 100%);
  font-size: 16px;
  font-style: bold;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

.head-button:hover {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 20%);
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  position: fixed;
  margin: 16px;
  font-family: 'Kaushan Script', cursive;
  font-style: italic;
  color: white;
}

.gallery {
  width: 20%;
  position: absolute;
  top: 35%;
  right: 25%;
  filter: drop-shadow(8px 8px 2px rgb(0, 0, 0, 20%));
  animation: up-down 2s infinite alternate;
}

.container {
  width: 80%;
  padding: 2% 10% 10% 10%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-image: url('wave-2.svg'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.column {
  width: 36vh;
  height: auto;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.picture-grid {
  margin: 2%;
  width: 96%;
  height: auto;
  background: hsl(0, 0%, 96%, 100%);
  border-radius: 4px;
  box-shadow: 4px 4px 2px rgb(0, 0, 0, 20%);
}

.caption {
  width: 90%;
  height: 64px;
  padding: 10px 5% 10px 5%;
  margin: 0%;
  color: hsl(0, 0%, 10%, 80%);
  border-top: 2px solid hsl(0, 0%, 80%);
  font-weight: bold;
  display: flex;
  font-style: italic;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;
}

.picture-grid:hover {
  transition: 0.1s;
  filter: brightness(96%);
  transform: scale(1.025);
  cursor: pointer;
}

.content1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.bighead {
  width: 100%;
  height: 100%;
  background-color: #eee;
  /* background-image: linear-gradient(45deg, rgba(209, 158, 0, 1) 0%, rgba(193, 168, 0, 1) 67%, rgba(191, 167, 0, 1) 100%); */
  background-image: url('icon/wave-1.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.insidebighead {
  width: 80%;
  height: 100%;
  margin: 0px 10% 0px 10%;
}

.headker {
  width: 100%;
  height: 120px;
  display: flex;
  margin: 0%;
}

.greenworld {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.textinsideheadker {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textten {
  margin: 4px;
}

.insidecontent1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px;
}

.textcontent {
  display: flex;
  width: 40%;
  height: 48px;
  border-radius: 2px;
  margin-left: 8px;
  color: white;
  text-decoration: none;
  background: rgba(0, 2, 28, 100%);
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.textcontent:hover {
  transform: scale(1.025);
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  background: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 2, 28, 100%);
  /* border-radius: 2px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

@keyframes bg-color {
  0% {
    background-color: #04142c;
  }

  25% {
    background-color: #1a364c;
  }

  50% {
    background-color: #375267;
  }

  75% {
    background-color: #56758e;
  }

  100% {
    background-color: #566b79;
  }
}

@keyframes up-down {
  100% {
    transform: translateY(8px);
  }
}