body{
 margin: 0%;
 height: 900px;
}
.head{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    height: 60px;
}
.head >a{
    text-decoration: none;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.bettwen{
 
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    height: 270px;
    
}
.select>a{
    margin: 20px;
    color: #333;
     text-decoration: none; background-color: #F8F9FA;
     width: 90px;
   
}
.searching{
    width: 500px;
    height: 30px;
    border:solid 0.115px;
    border-radius: 20px;
}
.topfooter{
    
    display: flex;
    width: 100%;
    position: fixed;
    height: 100px;
    bottom: 0;
}
.insidefoot{
    width: 100%;
    height: 50px;
 
}
/* .nextfoot{
    width: 100%;
    height 50px;
    background:dimgrey;
} */